@model Users


@{
    ViewData["Title"] = "Home Page";
}
<style>
    .title-screen{
        text-align: center;
    }
</style>

<body>
<div class="title-screen">
<h1>Lights Out!</h1>
<h3>Click on all the green lights to turn them red!</h3>
<h3>
    @Html.ActionLink("Click here to play", "", "Button")
</h3>
</div>
</body>